@page 
@model TourApp.Client.Pages.UserModel
@{
}
<h2 class="text-center">Welcome to your account</h2>

<div>
	Full Name:@Model.appUser?.FullName
</div>
<div>
	Phone:@Model.appUser?.Phone
</div>
<div>
	Pass Port:@Model.appUser?.PassPort
</div>
<div>
	User Name:@Model.appUser?.UserName
</div>