@using Microsoft.AspNetCore.Components.Authorization;

@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a href= "/Identity/Account/Login">LogIn/LogOut</a>
            <a href="Identity/Account/Register">Register</a>

        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    private bool _isAuth;

    protected override async Task OnInitializedAsync()
    {
        await GetStuff();
        await base.OnInitializedAsync();
    }

    private async Task GetStuff()
    {
        var myStateProv = AuthenticationStateProvider as CustomAuthenicationStateProvider;
        var authState = await myStateProv.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.Name != "")
        {
            _isAuth = true;
        }
        else
        {
            _isAuth = false;
        }
    }

}