@using Microsoft.AspNetCore.Components;
@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization;
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>


@if(_userId == "")
{
    <p>Loading account...</p>
}
else
{
    <h1>Hello,@_userName,!</h1>
    <br/>
    <h4>Your unique ID is:@_userId</h4>
}


@code {

    private string _userId ="";
    private string _userName;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

    protected override async Task OnInitializedAsync()
    {
        await GetStuff();
        await base.OnInitializedAsync();
    }

    private async Task GetStuff()
    {
        var myStateProv = AuthenticationStateProvider as CustomAuthenicationStateProvider;
        var authState = await myStateProv.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.Name !="")
        {
            _userName = $"{user.Identity.Name} is authenticated.";
            _claims = user.Claims;
            _userId = $"{_claims.First().Value}";
        }
        else
        {
            NavigationManager.NavigateTo("/Identity/Account/Register", forceLoad:true);
        }

    }

}